<launch>
    <arg 
      name="record" 
      default="disable"
    />
    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
        <arg name="world_file" value="$(find strolling_turtlebot)/world/closed.world"/>
    </include>

    <node
        pkg="strolling_turtlebot"
        name="stroller"
        type="stroller"
        output = "screen"
    />
    
    
    <node
        pkg="rosbag"
        name="record"
        type="record"
        args="-a -O $(find strolling_turtlebot)/results/stroller.bag -x /camera/(.*)"
        if="$(eval record == 'enable')"
    />
</launch>